<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xgx.mapper.UserMapper">

    <sql id="allColumns">
        t.id AS id,
        t.name AS `name`
    </sql>

    <select id="selectUserById" resultType="com.xgx.pojo.User">
        SELECT
        <include refid="allColumns"/>
        FROM
        t_user AS t
        WHERE
        t.id=#{id}
    </select>

</mapper>